---
---

@import "{{ site.theme }}";

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

.site-header {
  background-color: #000000;
  border-top: 5px solid #424242;
  border-bottom: 1px solid #424242;
}

.site-title,
.site-title:visited {
  color: #ffffff;
}

.site-nav .page-link {
  color: #ffffff;
}

.site-nav .page-link:hover {
  color: #cccccc;
}

.post-link {
  color: #ffffff;
}

.post-link:visited {
  color: #cccccc;
}

a {
  color: #6eb5ff;
}

a:visited {
  color: #bb86fc;
}

a:hover {
  color: #4da3ff;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  color: #ffffff;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

code,
pre {
  background-color: #1a1a1a;
  border: 1px solid #424242;
  color: #ffffff;
}

.site-footer {
  background-color: #000000;
  border-top: 1px solid #424242;
  color: #cccccc;
}

.footer-heading {
  color: #ffffff;
}
